* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.b-header {
    width: 100%;
    height: 90px;
    background-color: #C4C4C4;
    position: relative;
    margin-bottom: 10px;
}

.b-header__title {
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main {
    max-width: 768px;
    margin: 0 auto;
}

.b-rectangle {
    width: 100%;
    height: 155px;
    background: #E8EBED;
    margin-bottom: 10px;
}

.b-rectangle--none-background {
    background: none;
    display: flex;
    justify-content: center;
}

.b-rectangle--inner {
    padding: 15px;
    display: flex;
    align-items: flex-end;
}

.b-square {
    width: 100%;
    height: 155px;
    background: #E8EBED;
    padding: 15px;
    display: flex;
    align-items: flex-end;
}

.b-text--square {
    color: #fff;
}

.b-text--center {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    overflow: scroll;
}

.b-square--indent {
    margin-right: 10px;
    margin-bottom: 10px;
}

.b-two-color {
    display: flex;
}

.b-square--blue {
    background: #90BCE8;
}

.b-square--orange {
    background: #FEBF26;
}

.b-gray {
    display: flex;
    margin-bottom: 10px;
}

.b-gray-square {
    background: #A2A9B7;
    max-width: 492px;
    height: 71.2vw;
    margin-right: 10px;
    padding: 19px 19px 2px 9px;
    overflow-y: scroll;
}

.b-text--center {
    overflow-y: scroll;
}

.b-gray-rectangle {
    padding: 0;
    margin: 0;
    width: 100%;
}

.b-gray-rectangle-square {
    background: #A2A9B7;
    width: 33vw;
    height: 34vw;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.b-gray-rectangle-square--indent {
    margin-bottom: 10px;
}

.b-green {
    display: none;
}

.b-light-gray--bottom {
    display: flex;
    flex-direction: column;
}

.b-rectangle--none-background-bottom {
    order: 2;
}

.b-square--salmon {
    background: #FFAA87;
}

.b-rectangle--salmon {
    background: #FFAA87;
    order: 1;
}

.b-square--purple {
    background: #C7ABD4;
}

.b-square--red {
    background: #F55E62;
}

.b-footer {
    width: 100%;
    height: 90px;
    background-color: #C4C4C4;
    position: relative;
}

.b-footer__text {
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 2560px) and (min-width:480px) {
    main {
        padding: 0 10px;
    }

    .b-wrapper {
        display: flex;
        flex-direction: column;
    }

    .b-gray {
        order: 1;
    }

    .b-gray-square {
        height: 60vw;
        width: 185.9vw;
        padding: 30px 56px 53px 25px;
    }

    .b-gray-rectangle {
        width: 100%;
        max-height: 492px;
    }

    .b-gray-rectangle-square {
        width: 100%;
        height: 29vw;
        padding: 15px;
    }

    .b-many-color {
        order: 2;
        display: flex;
    }

    .b-light-gray {
        flex-grow: 2.5;
        max-width: 492px;
    }

    .b-light-gray--top {
        margin-right: 10px;
    }

    .b-two-color {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .b-square--blue {
        margin-bottom: 10px;
    }

    .b-light-gray--bottom {
        order: 2;
    }

    .b-two-color--bottom {
        order: 1;
        margin-right: 10px;
    }

    .b-green {
        display: block;
    }

    .b-gray-square--green {
        background: #E3EBD3;
        order: 2;
        margin-right: 0;
        padding: 15px;
    }

    .b-gray-rectangle--green {
        margin-right: 1.5%;
        position: relative;
    }

    .b-gray-rectangle-square--inner {
        padding: 0;
    }

    .b-gray-rectangle-square--green {
        background: #E3EBD3;
        order: 1;
    }

    .b-gray-rectangle-square__images-ship {
        background: url(test/img/ship.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 15px;
        display: flex;
        align-items: flex-end;
    }

    .b-gray-rectangle-square__images-ship:hover {
        filter: blur(8px);
    }

    .b-gray-rectangle-square--green:hover .b-gray-rectangle-square__sign {
        opacity: 1;
    }

    .b-gray-rectangle-square__sign {
        opacity: 0;
        font-size: 36px;
        line-height: 42px;
        color: #F55E62;
        background-color: #fff;
        padding: 2px 18px;
        border-radius: 50%;
        position: absolute;
        left: 40%;
        top: 70%;
    }

}

@media (max-width: 600px) and (min-width:480px) {
    .b-gray-square {
        height: 60.2vw;
    }
}

@media (max-width: 480px) and (min-width:400px) {
    .b-gray-square {
        height: 70.2vw;
    }
}

@media (max-width: 2560px) and (min-width:769px) {
    .b-gray-rectangle-square {
        height: 25.7vh;
    }

    .b-gray-square {
        height: 52.6vh;
    }
}